@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Eu @ViewData["Eu"]</p>

<address><strong>More information:</strong> <a href="eduardo.sfcouto@gmail.com">My email</a></address>
